@keyframes fadeIn {
    0% {
    }
    100% {
    }
}

* {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    background: transparent;
}

window {
    all: unset;
    padding: 4px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0,0.9);
}
#inner-box {
    margin: 4px;
    padding: 4px;
    border: none;
}
#outer-box {
    border: 2px solid rgba(220, 220, 220, 0.1);
}
#scroll {
    margin: 4px;
    border: none;
}
#input {
    all: unset;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    border: none;
    outline: none;
    color: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.1);
}
#input image {
    border: none;
    color: rgba(255,20,20,0.4);
}
#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: none;
    border-radius: 4px;
}
#text {
    margin: 4px;
    border: none;
    color: rgba(150,150,150,1);
    outline: none;
}
#entry {
    border: none;
    margin: 4px;
}
#entry arrow {
    border: none;
    color: rgba(255,20,20,0.4);
}
#entry:selected {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
}
#entry:selected #text {
    color: rgba(255,255,255,1);
}

/*
Changed the colors of the original source file and some margins/paddings
Lastly modified on 17/8/2025 by Dimitrios Psaroudakis
For the icons please find some that you like
*/
